html {
    --dimension-width: 7;
    --dimension-height: 5;
    --pocket-width: calc(75vmin / var(--dimension-width));
    --width: 75vmin;
    --player-color-1: #952142;
    --player-color-2: #2d2dba;
    font-family: sans-serif;
    font-size: 2vmax;
    text-align: center;
    color: #3991fd;
}

@media screen and (max-width: 800px) {
    html {
        --pocket-width: calc(90vw / var(--dimension-width));
        --width: 95vw;
    }
}

body {
    margin: auto;
    min-height: 95vh;
    background: #000;
}

#container {
    width: var(--width);
    margin: auto;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 10px auto;
    color: #eee;
    line-height: 50px;
}

#controls {
    display: flex;
    justify-content: space-between;
    width: var(--width);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    margin: auto;
}

.control {
    appearance: none;
    min-width: 20%;
    margin: 0;
    padding: 5px 10px;
    color: #ccc;
    background: rgba(7, 53, 104, 0.5);
    border: 0;
}

main {
    display: grid;
    grid-template-rows: repeat(var(--dimension-height), 1fr);
    margin: auto;
    background: rgba(5, 5, 5, 0.5);
}

.row {
    display: grid;
    grid-template-columns: repeat(var(--dimension-width), 1fr);
    width: 100%;
    height: 100%;
    margin: auto;
}

.pocket {
    position: relative;
    width: var(--pocket-width);
    height: var(--pocket-width);
    outline: 2px solid #000;
    background: rgba(7, 53, 104, 0.5);
}

.token {
    position: absolute;
    width: 85%;
    height: 85%;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
}

.player1 {
    background: var(--player-color-1);
}

.player2 {
    background: var(--player-color-2);
}

#indicator-container {
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin: 10px auto;
}

.indicator {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.hidden {
    opacity: 0.4;
}

.drop0 {
    animation: drop0 0.1s ease-in;
}
.drop1 {
    animation: drop1 0.2s ease-in;
}
.drop2 {
    animation: drop2 0.3s ease-in;
}
.drop3 {
    animation: drop3 0.4s ease-in;
}
.drop4 {
    animation: drop4 0.5s ease-in;
}

@keyframes drop0 {
    from { transform: translate(0, -10vmin) }
    to { transform: translate(0) }
}
@keyframes drop1 {
    from { transform: translate(0, -20vmin) }
    to { transform: translate(0) }
}
@keyframes drop2 {
    from { transform: translate(0, -30vmin) }
    to { transform: translate(0) }
}
@keyframes drop3 {
    from { transform: translate(0, -40vmin) }
    to { transform: translate(0) }
}
@keyframes drop4 {
    from { transform: translate(0, -50vmin) }
    to { transform: translate(0) }
}
